# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.eggs/
build/
dist/

# Envs / editors
.venv/
.env
.vscode/
.idea/

# Notebooks
.ipynb_checkpoints/

# pytest/cache
.pytest_cache/

# OS
.DS_Store
Thumbs.db